/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #f6f8f9;
}

.container{
    
}

img{
    max-width: 100%;
    height: 80px;
    vertical-align: middle;
}

header{
    padding: 10px 20px;
    background-color: white;
}

h1{
    display: inline;
    font-weight: bolder;
    font-size: 4rem;
    vertical-align: middle;
}


.white-text{
    color: white;
}